/* 사용자 정의 속성 - CSS 변수(Variable) */
:root {
  --primary: #d16527;
  --secondary: #edad2d;
}

/* 영역 별 색상 및 높이 */
.container {
  /* background-color: azure; */
}

.header {
  background-color: pink;
  /* height: 10vh; */
}

.visual {
  background-color: salmon;
  height: 10vh;
}

.main {
  background-color: green;
  height: 60vh;
}

.group1 {
  background-color: yellow;
}

.group2 {
  background-color: aqua;
}

.group3 {
  background-color: lime;
}

.slogan {
  background-color: blueviolet;
  height: 10vh;
}

.footer-wrapper {
  background-color: silver;
}

.footer {
  background-color: gray;
  height: 10vh;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  inline-size: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;
  /* border: 10px solid red;
  padding: 20px; */
  /* margin: 0 auto; */
  /* margin-block: 0; */
}

.main {
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding-block: 30px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;

  .group1 {
    width: 250px;
    /* order: 1; */
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 250px; */
    /* flex: 0 1 max-content; */
  }

  .group2 {
    width: 380px;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 380px; */
    /* flex: 1 1 0; */
  }

  .group3 {
    width: 190px;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 190px; */
    /* flex: 0 1 max-content; */
  }
}

/* 헤더 */
.header {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}

/* 로고 */
/* postion 레이아웃 */
.logo {
  position: absolute;
  top: 54px;
  left: 48px;
}

/* 유틸리티 메뉴 */
.utility-menu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 4px 0;
  gap: 8px;
  justify-content: end;
  align-items: center;
  position: relative;
  left: 8px;

  li {
    display: contents;

    a {
      padding: 4px 8px;
      text-transform: uppercase;
    }
  }
}

/* 내비게이션 */
.navigation {
  background-color: yellow;
  padding-block-end: 100px;
}

/* 메인 메뉴 */
.menu {
  /* background-color: var(--primary);
  background-image: linear-gradient(to bottom, var(--secondary) 0%, var(--primary) 20%, var(--primary) 80%, var(--secondary) 100%); */
  list-style: none;
  padding-inline-start: 0;
  background: var(--primary) linear-gradient(to bottom, var(--secondary) 0%, var(--primary) 20%, var(--primary) 80%, var(--secondary) 100%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  border-block-start: 2px solid #000;

  .menu-item {
    border-left: 2px solid #fff;
  }

  .menu-button {
    border: 0;
    padding: 8px 20px;
    background: transparent;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
  }

  .sub-menu {
    background: pink;
    position: absolute;
    display: none;
  }
}
