/* 사용자 정의 속성 - CSS 변수(Variable) */
:root {
  --primary: #d16527;
  --secondary: #edad2d;
}

/* 영역 별 색상 및 높이 */
.container {
  /* background-color: azure; */
}

.header {
  /* background-color: pink; */
  /* height: 10vh; */
}

.visual {
  /* background-color: salmon; */
  /* height: 10vh; */
}

.main {
  /* background-color: green; */
  /* height: 60vh; */
}

.group1 {
  /* background-color: yellow; */
}

.group2 {
  /* background-color: aqua; */
}

.group3 {
  background-color: lime;
}

.slogan {
  background-color: blueviolet;
  height: 10vh;
}

.footer-wrapper {
  background-color: silver;
}

.footer {
  background-color: gray;
  height: 10vh;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  inline-size: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;
  /* border: 10px solid red;
  padding: 20px; */
  /* margin: 0 auto; */
  /* margin-block: 0; */
}

.main {
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding-block: 30px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;

  .group1 {
    width: 250px;
    /* order: 1; */
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 250px; */
    /* flex: 0 1 max-content; */
  }

  .group2 {
    width: 380px;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 380px; */
    /* flex: 1 1 0; */
  }

  .group3 {
    width: 190px;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 190px; */
    /* flex: 0 1 max-content; */
  }
}

/* 헤더 */
.header {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}

/* 로고 */
/* postion 레이아웃 */
.logo {
  position: absolute;
  top: 54px;
  left: 48px;
  z-index: 10;
}

/* 유틸리티 메뉴 */
.utility-menu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 4px 0;
  gap: 8px;
  justify-content: end;
  align-items: center;
  position: relative;
  left: 8px;

  li {
    display: contents;

    a {
      padding: 4px 8px;
      text-transform: uppercase;
    }
  }
}

/* 내비게이션 */
.navigation {
  padding-block-end: 40px;
}

/* 메인 메뉴 */
.menu {
  --spacing-base: 16px;
  --spacing-lg: 20px;

  /* background-color: var(--primary);
  background-image: linear-gradient(to bottom, var(--secondary) 0%, var(--primary) 20%, var(--primary) 80%, var(--secondary) 100%); */
  list-style: none;
  padding-inline-start: 0;
  background: var(--primary) linear-gradient(to bottom, var(--secondary) 0%, var(--primary) 20%, var(--primary) 80%, var(--secondary) 100%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  border-block-start: 2px solid #000;
  position: relative;

  .menu-item {
    border-left: 2px solid #fff;

    .menu-button {
      border: 0;
      padding: var(--spacing-base) var(--spacing-lg);
      background: transparent;
      font-size: 18px;
      color: #fff;
      font-weight: 700;
      text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
    }
  }

  .sub-menu {
    position: absolute;
    list-style: none;
    padding: 4px 0;
    padding-inline-start: 0;
    display: none;
    gap: var(--spacing-base);

    a {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 4px;
      padding: 4px 0;

      &:focus-visible {
        box-shadow: none;
      }
    }
  }

  .is-active {
    .menu-button {
      color: #ff0 !important;
      position: relative;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: calc(100% - (var(--spacing-lg) * 2));
        background: #000;
        position: absolute;
        bottom: -2px;
      }
    }

    .sub-menu {
      display: flex;
    }
  }

  .menu-button:focus-visible {
    color: #ccc !important;
    box-shadow: none;
  }

  .menu-archive,
  .menu-qna,
  .menu-accessibility {
    right: 0;
  }
}

/* 비주얼 */
@keyframes move {
  0% {
    transform: translate(0, 0);
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    transform: translate(400px, 75px);
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual {
  height: 120px;
  position: relative;
  isolation: isolate;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    /* animation-name: fade;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: fade 2000ms infinite alternate;
  }

  &::before {
    background-image: url("./../assets/ani_flower_01.png"), url("./../assets/ani_flower_02.png");
    background-repeat: no-repeat;
    background-position: 0 -10px, 600px 5px;
  }

  &::after {
    background-image: url("./../assets/ani_flower_03.png"), url("./../assets/ani_flower_04.png");
    background-repeat: no-repeat;
    background-position: 300px 5px, 800px 5px;
    animation-delay: 1000ms;
  }

  p {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: inline-flex;
    /* animation-name: move;
    animation-duration: 2000ms;
    animation-fill-mode: forwards; */
    animation: move 2000ms forwards;
  }
}

@media (prefers-reduced-motion: reduce) {
  .visual {
    &::before,
    &::after,
    p {
      animation: none;
    }

    p {
      translate: 400px 75px;
      font-size: 24px;
    }
  }
}

/* 로그인 */
.login {
  background: var(--primary) radial-gradient(circle at right top, var(--secondary), var(--primary));
  border-radius: 10px;
  box-shadow: 5px 5px 0 0 #aaa;
  padding: 15px;

  h2 {
    font-size: 15px;
    font-weight: 700;
    color: #ff0;
  }

  .form-wrapper {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }

  form {
    position: relative;
    padding-bottom: 5px;

    .form-input {
      width: calc(100% - 58px);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-bottom: 5px;
    }

    label {
      flex: 0 0 4em;
      /* white-space: nowrap; */
    }

    input {
      flex: 1 1 0;
    }

    button {
      width: 50px;
      aspect-ratio: 1/1;
      border-radius: 5px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding-left: 0;
    justify-content: space-between;
    border-top: 1px solid #aaa;
    padding-top: 10px;

    span {
      color: var(--primary);
    }
  }
}

/* 유효성 검사 배너 */
.validation {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-block: 16px;
  }

  a {
    background: url("./../assets/validation_icon.png") no-repeat 16px 50%, linear-gradient(to bottom, #aaa, #ccc, #eee) #ccc;
    border: 1px solid #aaa;
    padding: 8px 20px 8px 36px;
    border-radius: 37px;
    /* 높이를 고정 값으로 사용할 경우 */
    /* height: 37px; */
    /* line-height: 37px; */
    /* align-content: center; */

    &:hover,
    &:focus {
      color: #f00;
    }

    &:focus-visible {
      box-shadow: none;
    }
  }
}

/* 웹 관련 용어 */
.term {
  padding: 16px;
  border-radius: 5px;
  line-height: 1.5;

  .term-title {
    font-size: 0.9375rem;
    font-weight: 700;
  }

  .term-item {
    margin-top: 12px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 4px 16px;

    .term-subject {
      grid-column: span 2;
    }

    .term-description {
      grid-column: span 2;
    }

    .term-thumbnail {
      grid-row: 1 / span 2;
    }
  }

  .term-item:nth-of-type(even) {
    .term-thumbnail {
      grid-column: 3;
    }
  }

  .term-subject {
    color: #296798;
    font-size: 0.875rem;
    font-weight: 600;
  }
}

/* 검색 폼 */
.search {
  padding: 12px 24px 8px;
  border-radius: 5px 5px 0 0;

  .search-form {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: center;

    .form-input {
      display: contents;
    }

    label,
    button {
      flex: 0 0 max-content;
    }

    label {
      display: flex;
      align-items: center;

      svg {
        display: inline-block;
      }
    }

    input {
      flex: 1 1 auto;
      align-self: stretch;
    }
  }
}

/* 공지사항 및 자료실 */
.board {
  background: yellow;
  margin-top: 28px;

  ul {
    list-style: none;
    padding-left: 0;
  }
}
