/* 영역 별 색상 */
.container {
  /* background-color: azure; */
}

.header {
  background-color: pink;
  height: 10vh;
}

.visual {
  background-color: salmon;
  height: 10vh;
}

.main {
  background-color: green;
  height: 60vh;
}

.group1 {
  background-color: yellow;
}

.group2 {
  background-color: aqua;
}

.group3 {
  background-color: lime;
}

.slogan {
  background-color: blueviolet;
  height: 10vh;
}

.footer-wrapper {
  background-color: silver;
}

.footer {
  background-color: gray;
  height: 10vh;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  inline-size: 940px;
  margin-inline: auto;
  margin-right: auto;
  margin-left: auto;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding-block: 30px;
  align-items: stretch;
  background-color: #fff;
  border-radius: 15px 15px 0 0;

  .group1 {
    width: 250px;
  }

  .group2 {
    width: 380px;
  }

  .group3 {
    width: 590px;
  }
}
